<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Requests</title>
	<link href="/css/styles.css" rel="stylesheet" type="text/css">
</head>
<body>
	<div class="navbar">
		<h3 class="logo">FarmersConnect</h3>

		<ul class="header">
			<li>Home</li>
			<li>Posts</li>
			<li>About</li>
			<li>Market</li>
			<li>Account</li>
		</ul>
	</div>

	<section>
		<div class="content">
			<table>
				<tr>
					<th></th>
					<th>Type of Produce</th>
					<th>Amount(kgs)</th>
					<th>Time Ordered</th>
					<th>Buyer Contact</th>
				</tr>
	
				<%
				if(items.length!=0){
				var i=1;
				items.forEach(function(rows){
				%>
				<tr>
					<td><%=i; %></td>
					<td><%=rows.produceName %></td>
					<td><%=rows.amountOrdered %></td>
					<td><%=rows.timeOrdered %></td>
					<td><input type="submit" name="Request" value="Approve" id="request"></td>
				</tr>
				<%  i++; }) %>
				<% } else{ %>
					<tr>
						<td colspan="7">No Data Found</td>
					</tr>
					<% } %>
	
			</table>
		</div>
	</section>
	

</body>
</html>